{% load staticfiles %}

<html>
  <head>
      <title>{% block title %}Title{% endblock %}</title>
      
        {% block load_bootstrap_css %}
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" />
        {% endblock %} 
        {% block load_jquery %}
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        {% endblock %}
        {% block load_bootstrap_js %}
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        {% endblock %}

        <style type="text/css">
            input[type="text"] { 
                height:30px;
            }
        </style>
  </head>
    <body>

    <div class="container">
        <h1>
            {% block heading %}hello man {% endblock %}
        </h1> <hr />

        {% block add_category_form %} {% endblock %}
        {% block add_gallery_form %} {% endblock %}

    </div>
  </body>
</html>
